node_modules/
package-lock.json
turn-credentials.php
.vscode/
.vs/connect/v17/.wsuo
.vs/connect/v17/.wsuo
.vs/connect/FileContentIndex/602d1faf-90b2-46d0-b69d-26ec95677180.vsidx
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
